<section class="content-section" id="news">
    <h2>Sinh viên</h2>
    <audio src="assets/audio/videoplayback.mp3" autoplay loop>
        Trình duyệt của bạn không hỗ trợ thẻ audio.
    </audio>

    <div class="news-content">
        <!-- Tin tức 1 -->
        <div class="news-item">
            <img src="assets/images/student1.jpg" alt="Hình ảnh Sinh viên 1">
            <div class="news-text">
                <h3>Sổ tay sinh viên</h3>
                <p>Sổ tay sinh viên cung cấp nhiều thông tin chi tiết về các quy định cứng như môi trường học tập giúp sinh viên có được sự thuận tiện trong quá trình học tập.</p>
            </div>
        </div>

        <!-- Tin tức 2 -->
        <div class="news-item">
            <img src="assets/images/student2.jpg" alt="Hình ảnh Sinh viên 2">
            <div class="news-text">
                <h3>Văn bản hợp nhất số 02/VBHN-BGDĐT quy định đào tạo liên thông trình độ cao đẳng, đại học</h3>
                <p>Thông tư số 55/2012/TT-BGDĐT ngày 25/12/2012 của Bộ trưởng Bộ GD & ĐT quy định đào tạo liên thông trình độ cao đẳng, đại học, có hiệu lực từ ngày 07/02/2013.</p>
            </div>
        </div>

        <!-- Tin tức 3 -->
        <div class="news-item">
            <img src="assets/images/student3.jpg" alt="Hình ảnh Sinh viên 3">
            <div class="news-text">
                <h3>Các tài nguyên cần thiết cho sinh viên</h3>
                <p>Tài nguyên học tập của sinh viên bao gồm các bài giảng, bài thực hành, kiểm tra, đánh giá cùng nhiều tài nguyên khác phục vụ cho việc học tập của sinh viên.</p>
            </div>
        </div>
    </div>
</section>
